@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
#logo,
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
} 
nav{
  height:100px;
  display: flex;
}
#nav_one{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav_two{
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#nav_two > a{
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
} 
#nav_two>a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid red;
  transition: width 0.5s;
}
#nav_two > a:hover::after{
  width: 100%;
}
#nav_three{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 40px;
}
#nav_three > i {
  font-size: 25px;
}
#cart_quantity{
  height: 20px;
  width: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 125px;
}
#cart_price{
  font-size: 20px;
  font-weight: 600;
}
#slider_container{
  height: calci(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  position: relative;
}
#slider_container > img{
  height: 200%;
  width: 200%;
  object-fit: cover;
}
.non-active{
  display: none;
}
#left_arrow,#right_arrow{
  height: 50px;
  width: 50px;
  background-color: #fff;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  position:absolute;
}
#left_arrow{
  left: 150px;
}
#right_arrow{
  right: 150px;
}